{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="{% static 'images/img-01.png' %}" alt="IMG">
            </div>

            <form class="contact1-form validate-form" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <span class="contact1-form-title">
                    Subir Fichero
                </span>

                <div class="wrap-input1 validate-input" data-validate="El fichero es obligatorio">
                    <input class="input1" type="file" name="file" accept=".txt">
                    <span class="shadow-input1"></span>
                </div>

                <div class="container-contact1-form-btn">
                    <input type="submit" class="contact1-form-btn" value="Subir Fichero">
                </div>
            </form>
        </div>
    </div>
    <div class="contact1" style="min-height: 10px;">
    {% if uploaded_files %}
        <div class="upload-results-container">
            <div class="row">
                <h4 class="color-white">Ficheros Registrados</h4>
            </div>
                <div class="row item-center-in-row">
                    <ul>
                        {% for file in uploaded_files %}
                            <li class="color-white"><a href="{% url 'download-file' file username %}">{{ file }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    </div>


{#    </div>#}
{% endblock %}